<div class="container">
    <div class="card" id="user-box" style="width: 18rem;">
        <div class="card-body">
            <div class="main">
                <h3 class="card-title" id="username"><%= loggedInUser.username %></h3>
                
            </div>
            <div id="description"><p class="card-text"><%= loggedInUser.description %></p></div>
        </div>
        <div id="edit-button">
            <a href="/users/<%= loggedInUser.id %>" class="btn btn-alert mt-10">Edit My Profile</a>
          </div>
    </div>
    <% users.forEach(user => { %> 
        <div class="card" id="user-box" style="width: 18rem;">
            <div class="card-body">
                <div class="main">
                    <h3 class="card-title" id="username"><%= user.username %></h3>
                    <a type="submit" href="/users/chat/<%= user.id %>/<%= loggedInUser.id %>" class="btn btn-info" id="chat-button">Chat with <%= user.username %></a>
                </div>
                <div id="description"><p class="card-text"><%= user.description %></p></div>
            </div>
    
        </div>
    <% }) %> 
    
</div>



